<template>
    <div class="app-layout">
        <navbar />
        <div class="app-body"><router-view></router-view></div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '../components/Navbar.vue';

@Component({ components: { Navbar } })
export default class Layout extends Vue {}
</script>

<style lang="scss" scoped>
.app {
    &-layout {
        height: 100vh;
    }
    &-body {
        margin-top: 60px;
    }
}
</style>
