<template>
    <div class="suiteOps">
        <div class="columns">
            <div class="column">
                <b-field label="Name">
                    <b-input v-model="suite.name"></b-input>
                </b-field>

                <b-field label="Logo">
                    <b-input v-model="suite.logo"></b-input>
                </b-field>
                <b-field label="Vendors">
                    <b-select multiple v-model="selectedOptions"
                        ><option
                            v-for="option in vendorOptions"
                            :key="option.key"
                            :value="option.key"
                        >
                            {{ option.value }}
                        </option></b-select
                    ></b-field
                >
            </div>
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-1">
                <b-button type="is-primary" @click="saveChanges">Save</b-button>
            </div>
            <div class="column is-1">
                <b-button @click="$router.push('/')">Cancel</b-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import suiteData from '../data/Suites.json';
import vendorData from '../data/Vendors.json';
import { Suites } from '../types/Suites';
import { Vendors } from '../types/Vendors';

@Component
export default class SuiteOps extends Vue {
    @Prop() id!: string;
    suite: Suites | { [k: string]: string } = {};
    selectedOptions: Array<string | number> | undefined = [];

    get vendorOptions(): { key: string; value: string }[] {
        return vendorData.data.map((vendor: Vendors) => {
            return { key: vendor.id, value: vendor.name };
        });
    }

    saveChanges(): void {
        this.$buefy.dialog.confirm({
            title: 'Save Changes',
            message: 'Are you sure you want to <b>save</b> the changes?',
            confirmText: 'Confirm',
            type: 'is-primary',
            hasIcon: true,
            onConfirm: () => {
                this.$buefy.toast.open('Saved Changes!');
                this.$router.push('/');
            },
        });
    }

    mounted(): void {
        if (this.id) {
            const data = suiteData.data.find((suite: Suites) => suite.id === this.id);
            this.suite = data ? data : {};
            if (this.suite !== {})
                this.selectedOptions = (this.suite.vendors as Vendors[]).map(
                    (vendor: Vendors) => vendor.id,
                );
        }
    }
}
</script>

<style lang="scss" scoped>
.suiteOps {
    margin: 20px;
}
</style>
