<template>
    <div class="suites">
        <div class="columns">
            <div v-for="(suite, key) in suitesData" :key="key" class="column one-third">
                <card :cardData="suite" @deleteAction="deleteSuite" @editAction="editSuite" />
            </div>
            <div class="column"></div>
        </div>
        <b-button
            class="suite-btn-float"
            type="is-primary"
            icon-right="plus-circle"
            size="is-large"
            @click="$router.push('suite')"
        ></b-button>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '../components/Card.vue';
import suiteData from '../data/Suites.json';
import { Suites as SuiteType } from '@/types/Suites';

@Component({
    components: { Card },
})
export default class Suites extends Vue {
    suitesData: SuiteType[] = [];

    getSuitesAPI(): Promise<{
        data: SuiteType[];
    }> {
        return new Promise<{ data: SuiteType[] }>((resolve) => {
            resolve(suiteData);
        });
    }

    async getSuites(): Promise<void> {
        try {
            const { data } = await this.getSuitesAPI();
            this.suitesData = data;
        } catch (err) {
            console.error('data not available');
        }
    }

    deleteSuite(id: string): void {
        this.$buefy.dialog.confirm({
            title: 'Deleting Suite',
            message:
                'Are you sure you want to <b>delete</b> this suite? This action cannot be undone.',
            confirmText: 'Delete Suite',
            type: 'is-danger',
            hasIcon: true,
            onConfirm: () => this.$buefy.toast.open(`Suite deleted!:${id}`),
        });
    }

    editSuite(id: string): void {
        this.$router.push({ name: 'suiteData', params: { id } });
    }

    mounted(): void {
        this.getSuites();
    }
}
</script>

<style scoped lang="scss">
.suite {
    &-btn-float {
        position: fixed;
        right: 10px;
        top: 90vh;
        transition: all 0.2s ease-in 0s; //this is the key attribute
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
    }
}
</style>
