<template>
    <div class="vendor">
        <div class="columns">
            <div v-for="(suite, key) in vendorsData" :key="key" class="column one-third">
                <card :cardData="suite" @deleteAction="deleteVendor" @editAction="editVendor" />
            </div>
            <div class="column"></div>
        </div>
        <b-button
            class="vendor-btn-float"
            type="is-primary"
            icon-right="plus-circle"
            size="is-large"
            @click="$router.push('vendor')"
        ></b-button>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '../components/Card.vue';
import vendorData from '../data/Vendors.json';
import { Vendors as VendorType } from '@/types/Vendors';

@Component({
    components: { Card },
})
export default class Vendors extends Vue {
    vendorsData: VendorType[] = [];

    getVendorsAPI(): Promise<{
        data: VendorType[];
    }> {
        return new Promise<{ data: VendorType[] }>((resolve) => {
            resolve(vendorData);
        });
    }

    async getVendors(): Promise<void> {
        try {
            const { data } = await this.getVendorsAPI();
            this.vendorsData = data;
        } catch (err) {
            console.error('data not available');
        }
    }

    deleteVendor(id: string): void {
        this.$buefy.dialog.confirm({
            title: 'Deleting Vendor',
            message:
                'Are you sure you want to <b>delete</b> this vendor? This action cannot be undone.',
            confirmText: 'Delete Vendor',
            type: 'is-danger',
            hasIcon: true,
            onConfirm: () => this.$buefy.toast.open(`Vendor deleted!:${id}`),
        });
    }

    editVendor(id: string): void {
        this.$router.push({ name: 'vendorData', params: { id } });
    }

    mounted(): void {
        this.getVendors();
    }
}
</script>

<style lang="scss" scoped>
.vendor {
    &-btn-float {
        position: fixed;
        right: 10px;
        top: 90vh;
        transition: all 0.2s ease-in 0s; //this is the key attribute
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
    }
}
</style>
