<template>
    <div class="vendorOps">
        <div class="columns">
            <div class="column">
                <b-field label="Name">
                    <b-input v-model="vendor.name"></b-input>
                </b-field>

                <b-field label="Logo">
                    <b-input v-model="vendor.logo"></b-input>
                </b-field>
                <b-field label="Items" v-if="id">
                    <b-tag
                        class="itemTag"
                        v-for="option in vendor.vendorItems"
                        :key="option.id"
                        :value="option.id"
                    >
                        {{ option.name }}
                    </b-tag></b-field
                >
            </div>
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-1">
                <b-button type="is-primary" @click="saveChanges">Save</b-button>
            </div>
            <div class="column is-1">
                <b-button @click="$router.push('/vendors')">Cancel</b-button>
            </div>
        </div>
        <b-button
            class="vendorOps-btn-float"
            type="is-primary"
            icon-right="plus-circle"
            size="is-large"
            @click="addItem"
        ></b-button>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import vendorData from '../data/Vendors.json';
import { Vendors } from '../types/Vendors';

@Component
export default class VendorOps extends Vue {
    @Prop() id!: string;
    vendor: Vendors | { [k: string]: string } = {};

    saveChanges(): void {
        this.$buefy.dialog.confirm({
            title: 'Save Changes',
            message: 'Are you sure you want to <b>save</b> the changes?',
            confirmText: 'Confirm',
            type: 'is-primary',
            hasIcon: true,
            onConfirm: () => {
                this.$buefy.toast.open('Saved Changes!');
                this.$router.push('/vendors');
            },
        });
    }

    addItem(): void {
        this.$buefy.dialog.prompt({
            message: `Add an item`,
            inputAttrs: {
                placeholder: 'e.g. Sandwich',
                maxlength: 50,
            },
            trapFocus: true,
            onConfirm: (value) => this.$buefy.toast.open(`Added: ${value}`),
        });
    }

    mounted(): void {
        if (this.id) {
            const data = vendorData.data.find((vendor: Vendors) => vendor.id === this.id);
            this.vendor = data ? data : {};
        }
    }
}
</script>

<style lang="scss" scoped>
.vendorOps {
    margin: 20px;
    .itemTag {
        margin: 2px;
    }
    &-btn-float {
        position: fixed;
        right: 10px;
        top: 90vh;
        transition: all 0.2s ease-in 0s; //this is the key attribute
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
    }
}
</style>
