<template>
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img :src="cardData.logo" alt="logo" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ cardData.name }}</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" @click="editAction(cardData.id)">Edit</a>
            <a class="card-footer-item" @click="deleteAction(cardData.id)">Delete</a>
        </footer>
    </div>
</template>

<script lang="ts">
import { Suites } from '@/types/Suites';
import { Vendors } from '@/types/Vendors';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Card extends Vue {
    @Prop() cardData!: Suites | Vendors;

    deleteAction(id: string): void {
        this.$emit('deleteAction', id);
    }

    editAction(id: string): void {
        this.$emit('editAction', id);
    }
}
</script>

<style lang="scss" scoped>
.card {
    margin: 10px;
}
</style>
